.crud{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.crud__table, .crud__form{
    min-width: 45%;
    max-width: 45%;
}

.crud__table table{
    border-collapse: collapse;
    width: 100%;
}
  
.crud__table td, .crud__table th {
    border: 1px solid hsl(0, 0%, 87%);
    color: hsl(0, 0%, 100%);
    padding: 8px;
    text-align: left;
}

.crud__form{
    width: 100%;
}

.crud__form .crud__form-one-column,
.crud__form .crud__form-two-columns,
.crud__form .crud__form-three-columns,
.crud__form .crud__form-four-columns{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.crud__form .crud__form-one-column .crud__form-element{
    width: 100%;
}

.crud__form .crud__form-two-columns .crud__form-element{
    width: 48%;
}

.crud__form .crud__form-three-columns .crud__form-element{
    width: 32%;
}

.crud__form .crud__form-four-columns .crud__form-element{
    width: 23%;
}

#crud__form-errors{
    background-color:  hsl(19, 94%, 66%);
    display: none;
    padding: 0.5em;

    li{
        color: hsl(0, 0%, 100%);
    }
}

#crud__form-errors.active{
    display: block;
}

.crud__form-element{
    margin-bottom: 1em;
    width: 100%;
}

.crud__form-label{
    margin-bottom: 1em;
    width: 100%;
}

.crud__form-label label{
    color: hsl(0, 0%, 100%);
	font-family: "Ubuntu";
	font-weight: 600;
	font-size: 1em;
	transition: color 0.5s;
}

.crud__form-label--active label{
	color: hsl(19, 100%, 50%);
}

.crud__form-input{
    width: 100%;
}

.crud__form-input.inline{
    display: flex;
    gap: 2%;
}

.crud__form-input input, 
.crud__form-input textarea,
.crud__form-input select {
    background-color:hsl(226, 63%, 45%);
	border: none;
	border-bottom: 0.1em solid  hsl(0, 0%, 100%);
	box-sizing: border-box;
    color: hsl(0, 0%, 100%);
	font-family: "Ubuntu";
	font-weight: 600;
	padding: 0.2em;
	width: 100%;
}

.crud__form-input input.error{
    border-bottom: 0.1em solid hsl(19, 100%, 50%);
}

.crud__form-input input::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.crud__form-input input[type=checkbox],
.crud__form-input input[type=radio]{
    height: 1.2em;
    width: 1.2em;
}

.crud__form-input input[type=file]{
    border: none;
}

.crud__form-input textarea{
    background-color: hsl(0, 0%, 100%);
    color:hsl(0, 0%, 0%)
}

.crud__form-input.inline label{
    color: hsl(0, 0%, 100%);
	font-family: "Ubuntu";
	font-weight: 600;
    font-size: 1.5em;
    margin: 0 0.5em;
    width: max-content;
}

.crud__form-input input:focus, .crud__form-input textarea:focus{
	outline: none;
}

.crud__form-input select, .crud__form-input select:focus, .crud__form-input select:active { 
	outline: 0 !important; 
}

.crud__store-button{
	background-image: linear-gradient(to right, #253786 0%, #02A8B0 50%, #253786 100%);
    background-size: 200% auto;
    border-radius: 1em;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.2em;
	font-weight: 600;
	letter-spacing: 0;
	line-height: 0px;
    margin-top: 1em;
	min-width: 20%;
	padding: 1em 2em;
	transition: 0.5s;
	text-decoration: none;
}

.crud__create-button{

    cursor: pointer;

    .crud__create-button-icon{
        fill: hsl(207, 85%, 69%);
    }

    &:hover{

        .crud__create-button-icon{
            fill: hsl(19, 100%, 50%);
        }
    }

    svg{
        margin: 0 0.5em;
        width: 2.4em; 
        height: 2.4em;
        
        .store-button-icon{
            fill: hsl(0, 0%, 50%);
        } 
    }
}
